

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily: 'Open Sans', sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1267.98;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #3c3c3c;
$mainColor:  #ffa400;
$mainColor2:  #0082c9;
$hover: #ff8400;
$bg: rgba(#dcdcdd, 0.35);