@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;

	&._lock {
		height: 100%;
		min-height: auto;
		overflow: hidden;
	}
}

body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.6rem;
	min-height: 100%;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
}

.wrapper {
	overflow: hidden;
}


@keyframes preloadBody {
	from {transform: translate(-50%, -50%) rotate(0);}
	to {transform: translate(-50%, -50%) rotate(360deg);}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	padding: 1px 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 4;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.drop-down {
	position: relative;
	display: inline-block;

	@media (min-width: 992px) {
		&:hover {
			& .drop-down__title {
				opacity: 0.7;
			}
			& .drop-down__list {
				display: block;
			}
		}
	}

	&._is-open {
		& .drop-down__title {
			color: $mainColor2;
			&:before {
				transform: translateY(-35%) scale(1, -1);
			}
		}
	}

	&__title {
		position: relative;
		padding-right: 24px;
		display: inline-block;
		cursor: pointer;
		&:before {
			font-family: "icomoon";
			position: absolute;
			content: "\f078";
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			transition: all 0.3s ease;
		}
	}

	&__list {
		display: none;
		@media (min-width: 992px) {
			transition: all 0.3s ease;
			min-width: calc(100% + 20px);
			position: absolute;
			left: -10px;
			top: 100%;
			background-color: #fff;
			border-radius: 4px;
			box-shadow: 0 0 15px rgba($textColor, 0.2);
			animation: dropDownList 0.4s ease;
			overflow: hidden;
		}

		@media (max-width: $md2+px) {
			padding-left: 28px;
			padding-top: 24px;

			& > li {
				&:not(:last-child) {
					margin-bottom: 24px;
				}
			}
		}
	}

	@keyframes dropDownList {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	&__link {
		color: $textColor;
		display: inline-block;
		width: 100%;
		transition: all 0.3s ease;

		@media (min-width: 992px) {
			line-height: 1.5em;
			padding: 0 10px;
			white-space: nowrap;

			&:hover {
				background-color: rgba($textColor, 0.2);
			}
		}

		@media (max-width: $md2+px) {
			font-size: 24px;
			font-weight: 600;
		}
	}
}

.pagination-style {
	& .swiper-pagination {
		bottom: 15px;

		& .swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			border: 2px solid #ffffff;
			background-color: transparent;
			opacity: 1;

			&.swiper-pagination-bullet-active {
				background-color: #fff;
			}
		}
	}
}

// === title ========================================================================
h1 {
	margin-top: 0;
}
.title-1 {
	text-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
	font-size: 62px;
	font-weight: 700;
	line-height: 1em;
	color: inherit;

	@media (max-width: $md2+px) {
		font-size: 56px;
	}
	@media (max-width: $md3+px) {
		font-size: 46px;
	}
	@media (max-width: $md4+px) {
		font-size: 32px;
	}
}
.title-2 {
	font-size: 48px;
	font-weight: 300;
	line-height: 1.0416em;

	@media (max-width: $md2+px) {
		font-size: 40px;
	}
	@media (max-width: $md3+px) {
		font-size: 36px;
	}
	@media (max-width: $md4+px) {
		font-size: 30px;
	}
}

.title-3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 0.9666em;
}

.title-4 {
	font-size: 22px;
	font-weight: 700;
	line-height: 1.0909em;
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.flex-column-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (max-width: $md3+px) {
		display: block;
	}

	&__item {
		flex: 0 1 calc(50% - 48px);
		margin-bottom: 50px;

		@media (max-width: $md1+px) {
			flex: 0 1 calc(50% - 20px);
		}

		@media (max-width: $md2+px) {
			flex: 0 1 calc(50% - 7.5px);
		}

		@media (max-width: $md3+px) {
			margin-bottom: 25px;
		}
	}
}
.flex-column-3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px 80px;

	@media (max-width: $md2+px) {
		gap: 50px 50px;
	}

	@media (max-width: $md3+px) {
		gap: 25px;
		flex-direction: column;
	}

	&__item {
		flex: 0 1 calc(33.333333% - calc(80px * 2 / 3));

		@media (max-width: $md2+px) {
			flex: 0 1 calc(50% - 25px);
		}

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}
	}
}

// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	min-height: 44px;
	min-width: 90px;
	background-color: $mainColor;
	padding: 8px 15px 10px;
	font-size: 16px;
	line-height: 1.1em;
	font-weight: 600;
	transition: all 0.3s ease;
	border-radius: 999px;
	color: #fff;
	align-self: flex-start;
	@media (min-width: 992px) {
		&:hover {
			background-color: $hover;
		}
	}
}

button.btn-default {
}

// === and btn ========================================================================
.white-form {
	--input-bg-color: rgba(255,255,255, 0.2);
	--input-border-color: #fff;
	--input-text-color: #fff;
	--input-placeholder-color: rgba(255,255,255, 0.55);
}
.dark-form {
	--input-bg-color: rgba(220, 220, 221, 0.3);
	--input-border-color: rgb(220, 220, 221);
	--input-text-color: #3c3c3c;
	--input-placeholder-color: #3c3c3c;
}

.input {
	display: flex;
	align-items: center;
	min-height: 44px;
	background-color: var(--input-bg-color, rgba(220, 220, 221, 0.3));
	border: 1px solid transparent;
	transition: all .3s ease;
	border-radius: 0;
	padding: 10px 13px;
	color: var(--input-text-color, $textColor);
	width: 100%;

	@media (min-width: 992px) {
		&:hover {
			border-color: var(--input-border-color, rgb(220, 220, 221));
		}
	}

	&::placeholder {
		color: var(--input-placeholder-color, $textColor);
	}


	&:focus {
		border-color: var(--input-border-color, rgb(220, 220, 221));
	}
}

.textarea {
	&:not(span) {
		resize: none;
		padding: 11px 13px;
		color: var(--input-text-color, $textColor);
		width: 100%;
		background-color: var(--input-bg-color, rgba(220, 220, 221, 0.3));
		border: 1px solid transparent;
		transition: all .3s ease;
		border-radius: 0;
		height: 147px;
	
		@media (min-width: 992px) {
			&:hover {
				border-color: var(--input-border-color, rgb(220, 220, 221));
			}
		}
	
		&::placeholder {
			color: var(--input-placeholder-color, $textColor);
		}
	
	
		&:focus {
			border-color: var(--input-border-color, rgb(220, 220, 221));
		}
	}
}

.link {
	display: inline-flex;
	align-items: center;
	color: $mainColor;
	transition: all 0.3s ease;
	cursor: pointer;
	& img {
		height: 19px;
		width: auto;
		display: block;
		margin-right: 10px;
	}

	@media (min-width: 992px) {
		&:hover {
			color: $hover;

			&:after {
				transform: translateX(8px);
			}
		}
	}

	&:after {
		transition: all 0.3s ease;
		display: inline-block;
		font-family: "icomoon";
		content: "\f054";
		margin: 3px 7px 0;
		font-size: 0.7em;
	}
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	gap: 10px 14px;

    & > li {

        & > a {
            display: inline-block;
            height: 32px;
            transition: all .3s ease;


            @media (min-width: 992px) {
                &:hover {
                    opacity: 0.6;
                }
            }

            & img {
                display: block;
            }

            & img, & svg {
                height: 100%;
                width: auto;
            }
        }
    }
}

.images-col-2 {
	padding: 10px;
	background-color: #f3f3f3;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	&__item {
		padding-bottom: 48%;
		flex: 1 1 auto;
		min-width: calc(50% - 5px);
	}
}

.mb {
	margin-bottom: 110px;

	@media (max-width: $md2+px) {
		margin-bottom: 90px;
	}
	@media (max-width: $md3+px) {
		margin-bottom: 50px;
	}
}
.mt {
	margin-top: 110px;

	@media (max-width: $md2+px) {
		margin-top: 90px;
	}
	@media (max-width: $md3+px) {
		margin-top: 50px;
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.float-right {
	float:right;
}
.float-left {
	float:left;
}

.title-color.text-content {
	& h1, & h2, & h3, & h4, & h5, & h6 {
		color: $mainColor2;
	}
} 
.text-content {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;

	& h1 {
		font-size: 62px;
		font-weight: 700;
		line-height: 1.2em;
		color: $mainColor2;
		margin-bottom: 0.6666em;
		margin-top: 1em;

		@media (max-width: $md2+px) {
			font-size: 56px;
		}
		@media (max-width: $md3+px) {
			font-size: 46px;
		}
		@media (max-width: $md4+px) {
			font-size: 32px;
		}
	}
	& h2 {
		font-size: 48px;
		font-weight: 300;
		line-height: 1.0416em;
		margin-bottom: 0.6666em;
	
		@media (max-width: $md2+px) {
			font-size: 40px;
		}
		@media (max-width: $md3+px) {
			font-size: 36px;
		}
		@media (max-width: $md4+px) {
			font-size: 30px;
		}
	}
	& h3 {
		font-size: 30px;
		font-weight: 700;
		line-height: 0.9666em;
		margin-bottom: 0.6666em;

		@media (max-width: $md3+px) {
			font-size: 26px;
		}
	}
	& h4 {
		font-size: 22px;
		font-weight: 700;
		line-height: 1.0909em;
		margin-bottom: 0.56em;
	}

	& h5 {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.33333em;
		margin-bottom: 0.3em;
	}
	& h6 {
	}

	& p {
		margin-bottom: 1.55em;

		& ~ h2, & ~ h3, & ~ h4, & ~ h6 {
			margin-top: 1.45em;
		}

		& ~ h5 {
			margin-top: 1.9em;
		}
	}

	& ul {
		padding-left: 50px;
		margin: 10px 0;
		& > li {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				top: 10px;
				left: -13px;
				height: 4px;
				width: 4px;
				border-radius: 50%;
				background-color: $mainColor2;
			}
		}

		& ~ h2, & ~ h3, & ~ h4, & ~ h6 {
			margin-top: 1.45em;
		}

		& ~ h5 {
			margin-top: 1.9em;
		}
	}

	& ol {
		padding-left: 32.5px;
		& > li {
			list-style-position: inside;
		}

		& ~ h2, & ~ h3, & ~ h4, & ~ h6 {
			margin-top: 1.45em;
		}

		& ~ h5 {
			margin-top: 1.9em;
		}
	}

	& figure {
		display: block;
		background-color: $bg;
		padding: 10px;
		margin-bottom: 25px;

		& ~ h2, & ~ h3, & ~ h4, & ~ h6 {
			margin-top: 1.45em;
		}

		& ~ h5 {
			margin-top: 1.9em;
		}

		&.float-right {
			display: inline-block;
			margin-left: 20px;
			margin-bottom: 0;

			@media (max-width: $md3+px) {
				float: none;
				margin: 0 -10px;
				width: calc(100% + 20px);
				& + p, & + ul, & + ol {
					margin-top: 15px;
				}
			}
			& img {
				@media (max-width: $md3+px) {
					width: 100%
				}
				width: auto;
			}
		}
		&.float-left {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 0;

			@media (max-width: $md3+px) {
				float: none;
				margin: 0px -10px;
				width: calc(100% + 20px);
				& + p, & + ul, & + ol {
					margin-top: 15px;
				}
			}
			& img {
				@media (max-width: $md3+px) {
					width: 100%
				}
				width: auto;
			}
		}
		& img {
			width: 100%;
			height: auto;
		}
	}

	& a {
		transition: all 0.3s ease;
		color: $mainColor;
		font-weight: bold;

		@media (min-width: 992px) {
			&:hover {
				color: $hover;
			}
		}
	}

	& img {
		width: 100%;
		height: auto;
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/gallery/gallery";
@import "../common/cta/cta";
@import "../common/latest-news/latest-news";
@import "../common/pagination/pagging";
@import "../common/hero/hero";
@import "../common/table-tabs/table-tabs";
@import "../common/video-block/video-block";
@import "../common/history/history";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

@import "pages/home";
@import "pages/contact";
@import "pages/downloads";
@import "pages/article";
@import "pages/news";
@import "pages/products";
@import "pages/product-detail";
// ==== AND PAGES =====================================================

