.footer {
    background-color: #2a3756;
    color: #fff;

    &__form {
        max-width: 1065px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 1px;
        border-top: 1px solid #555f78;
        border-bottom: 1px solid #555f78;
    }

    &__column {
        margin-bottom: 25px;

        @media (max-width: $md3+px) {
            flex: 0 1 65%;
            padding-right: 20px;
            &:nth-child(2n) {
                flex: 1 1 auto;
                padding-right: 0;
            }
        }

        @media (max-width: 575px) {
            flex: 0 1 100% !important;
            padding-right: 0;
            text-align: center;
        }
    }

    &__column-1 {


        @media (min-width: 768px) {
            margin-right: auto;
            max-width: 274px;
            padding-right: 20px;
            flex: 1 1 auto;
        }
    }
    &__column-2 {


        @media (min-width: 768px) {
            padding-right: 20px;
            flex: 1 1 auto;
            max-width: 190px;
            padding-top: 8px;
        }
    }
    &__column-3 {


        @media (min-width: 768px) {
            padding-right: 20px;
            flex: 1 1 auto;
            max-width: 280px;
            padding-top: 8px;
        }
    }
    &__column-4 {


        @media (min-width: 768px) {
            flex: 1 1 auto;
            max-width: 164px;
            padding-top: 8px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 252px;
        margin-bottom: 20px;
        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 575px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__big-text {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 15px;
        padding-left: 5px;

        @media (min-width: 992px) {
            padding-left: 8px;
        }
    }

    &__text {
        line-height: 22px;
        margin-bottom: 23px;

        @media (min-width: 992px) {
            padding-left: 8px;
        }

        & p {
            margin-bottom: 5px;
        }
    }

    &__flex-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;

        @media (min-width: 992px) {
            padding-left: 8px;
        }

        @media (max-width: 575px) {
            gap: 30px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        & > li {
            flex: 0 0 auto;
        }

        & img, & svg {
            width: 50px;
            height: auto;
        }

        & a {
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    & .social {
        align-self: flex-start;
        @media (max-width: 575px) {
            align-self: initial;
            justify-content: center;
        }
    }

    &__title {
        display: block;
        color: $mainColor2;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        margin-bottom: 6px;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;
            }
        }
    }

    &__list {
        & li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__link {
        color: #fff;
        line-height: 1.8em;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $hover;
            }
        }
    }

    &__label-text {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #ffffff;
        background-color: #e30613;
        padding: 4px 9px;
        color: #ffffff;
        font-size: 14px;
        line-height: 1em;
        text-transform: uppercase;
        margin-left: 8px;
    }

    &__label-num {
        border: 1px solid #ffffff;
        background-color: #e30613;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
        padding: 2px 4px;
        height: 22px;
        min-width: 22px;
        margin-left: 5px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 45px;
        padding: 15px 0;

        @media (max-width: 575px) {
            display: block;
            text-align: center;
        }
    }

    &__bottom-column {
        opacity: 0.4;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2em;
    }
}

.form-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0 35px;

    @media (max-width: $md3+px) {
        flex-direction: column;
        align-items: center;
    }

    &__item {
        @media (min-width: 768px) {
            &:nth-child(1) {
                margin-right: 20px;
                flex: 0 0 168px;
            }
            &:nth-child(2) {
                margin-right: 20px;
                flex: 0 1 24%;
                margin-right: 30px;
            }
            &:nth-child(3) {
                flex: 1 1 auto;
                margin-right: 30px;
            }
            &.submit-wrap {
                flex: 0 0 116px;
            }
        }

        @media (max-width: $md3+px) {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &.submit-wrap {
                display: flex;
                justify-content: center;
            }
        }

    }

    &__text {
        
        align-items: center;
        text-align: center;
        color: $mainColor2;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        

        @media (min-width: 768px) {
            display: flex;
            margin-left: 9px;
            padding-bottom: 4px;
            height: 100%;
        }

        @media (max-width: $md3+px) {

        }
    }

    &__submit {
        &.btn-default {
            font-size: 16px;
            padding: 8px 21px 10px;
            min-width: 117px;

            @media (max-width: $md3+px) {
                min-width: 200px;
            }
        }
    }

    & #mce-responses {
        order: 1;
        flex: 0 1 100%;
        padding-top: 15px;
        text-align: center;
        line-height: 1.2em;

        & a {
            color: #fff;
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    color: #ff8400;
                }
            }
        }
    }
}
