.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba($mainColor2, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;
		
		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 750px;
		width: 100%;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		padding: 70px 100px 70px;
	}

	&_close {
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 5px;
		cursor: pointer;
 		transition: all .3s ease;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#000, 0.1);
			}
		}


		& > span {
			position: relative;
			width: 30px;
			height: 30px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 2px;
				height: 100%;
				background-color: $mainColor2;
			}
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 2px;
				background-color: $mainColor2;
			}
		}
	}

}





.popup-gallery {

	&__images {
		width: 100%;
		max-width: 500px;
		margin: 0 auto 10px;
		& .swiper-slide {
			position: relative;
			height: 500px;

			& img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__thumbs {
		max-width: 500px;
		margin: 0 auto;

		& .swiper-slide {
			position: relative;
			height: 0;
			padding-bottom: 21.4%;
			background-color: $bg;
			cursor: pointer;
			transition: all .3s ease;

			@media (min-width: 992px) {
				&:hover {
					background-color: #cecece;
				}
			}

			&.swiper-slide-thumb-active {
				background-color: #cecece;
			}

			& img {
				position: absolute;
				object-fit: cover;
				height: calc(100% - 20px);
				width: calc(100% - 20px);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__btn {
		height: 30px;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s ease;
		cursor: pointer;
		position: absolute;
		bottom: 107px;
		left: 30px;
		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#000, 0.1);
			}
		}
		&:before {
			font-family: 'icomoon';
			content: "\f054";
			color: #9b9b9b;
			font-size: 18px;
		}

		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.3;
		}
	}

	&__btn-prev {
		transform: rotate(-180deg);
	}

	&__btn-next {
		right: 30px;
		left: auto;
	}
}
