.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba(#cecfce, 0.92);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;
		
		@media (max-width: $md3+px) {
			padding: 10px;
		}
	}

	&_content {
		background: #fff;
		width: 100%;
		max-width: 620px;
		display: inline-block;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		padding: 10px;

		@media (max-width: $md2+px) {
			margin-bottom: 45px;
		}

	}

	&_close {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px;
		cursor: pointer;
 		transition: all .3s ease;
		z-index: 2;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#fff, 0.1);
			}
		}


		& > span {
			position: relative;
			width: 32px;
			height: 32px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 4px;
				height: 100%;
				background-color: #fff;
			}
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 4px;
				background-color: #fff;
			}
		}
	}

}





.popup-gallery {
	&__images {
		width: 100%;
		max-width: 620px;
		& .swiper-slide {
			position: relative;
			height: 480px;

			@media (max-width: 575.98px) {
				height: 380px;
			}

			& img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__thumbs {
		text-align: left;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		transform: translateX(calc(100% + 20px));


		@media (max-width: $md2+px) {
			transform: translate(0, calc(100% + 10px));
		}

		& .swiper-slide {
			opacity: 0 !important;
			font-size: 14px;
			color: #3c3c3c;

			& > p {
				&:first-child {
					margin-bottom: 5px;
				}
			}

			&.swiper-slide-active {
				opacity: 1 !important;
			}
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s ease;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
		z-index: 3;
		padding: 5px;


		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#fff, 0.1);
			}
		}
		&:before {
			font-family: 'icomoon';
			content: "\f054";
			color: #fff;
			font-size: 30px;
			display: inline-block;
		}

		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.3;
		}
	}

	&__btn-prev {
		transform: translateY(-50%) rotate(-180deg);
	}

	&__btn-next {
		right: 20px;
		left: auto;

	}
}
